.profile__edit-button {
    overflow: hidden;
    border: none;
    background: url(../../../images/Edit-Button.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 0 0 17px 0;
    padding: 0;
    transition: 0.3s;
}
.profile__edit-button:hover {
    opacity: 0.6;
}
@media (max-width: 725px) {
    .profile__edit-button {
        margin: 0 0 6px 0;
    }
}
@media (max-width: 425px) {
    .profile__edit-button {
        margin: 0 0 11px 0;
        max-width: 18px;
        max-height: 18px;
    }
}
