.profile__button {
    overflow: hidden;
    background: url(../../../images/__button.svg) center no-repeat;
    background-size: 22px;
    cursor: pointer;
    padding: 12px 62px;
    margin: 3px 0 0 0;
    width: 150px;
    height: 50px;
    transition: 0.3s;
    border: 2px solid #ffffff;
}
.profile__button:hover {
    opacity: 0.6;
}
@media (max-width: 650px) {
    .profile__button {
        margin: 0;
        width: 282px;
        padding: 15px 131px;
        background-size: 16px;
    }
}